<br>
<br>
<div class="col-lg 8">
  <h1>Album Index</h1>
</div>

<br>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <%= form_tag(:root, method: "get") do %>
      <%= label_tag(:song, "Song:") %>
      <%= text_field_tag(:song) %>

      <%= label_tag(:album, "Album:") %>
      <%= text_field_tag(:album) %>

      <%= label_tag(:artist, "Artist:") %>
      <%= text_field_tag(:artist) %>

      <%= submit_tag("Search", id: :search) %>
    <% end %>
  </div>
<br>
<br>
<br>
<br>
<div class="col-xs-4 col-md-4 col-lg-4 header">
  <p>Song</p>
</div>
<div class="col-xs-4 col-md-4 col-lg-4 header">
  <p>Album</p>
</div>
<div class="col-xs-4 col-md-4 col-lg-4 header">
  <p>Artist</p>
</div>

<br>
<br>

<% if @results %>
  <% @results.each do |result| %>
    <div class="col-xs-4 col-md-4 col-lg-4 results">
      <%= result.print_title %>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 results">
      <%= result.album.print_title %>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 results">
      <%= result.artist.print_name %>
    </div>
  <% end %>
<% end %>
</div>
